/*------------------------------------*\
    $IE6 Styles
    $IE7 Styles
    $IE8 Styles
\*------------------------------------*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.affix {
  position: fixed;
}
.carousel-caption {
  bottom: 15px;
  top: auto;
}
#header .container {
  width: auto;
}
#header .span-controls {
  margin-left: 0;
}
#js-search-dropdown {
  left: 0;
}
.form-personalize p {
  margin-bottom: 0;
}
.form-personalize .navbar .nav {
  clear: none;
  margin-bottom: 0;
  padding-top: 60px;
}
.form-personalize .navbar .nav a,
.form-personalize .navbar .nav button,
.form-personalize .navbar .nav input {
  font-size: 18px;
  margin: 4px 0;
  padding: 7px 5px 8px;
}
.form-personalize .navbar .nav button {
  font-size: 16px;
  padding: 9px 6px;
}
.form-personalize .navbar .nav input,
.form-personalize .navbar .nav .dropdown-toggle {
  margin-right: 5px;
}
.form-personalize .navbar .nav li {
  font-size: 30px;
  line-height: 40px;
}
.form-personalize .navbar .nav li.text {
  margin-right: 8px;
  width: 40px;
}
.form-personalize .navbar .nav li .dropdown-menu {
  margin-top: -3px;
  width: 225px;
}
.form-personalize .navbar .nav li .dropdown-menu a {
  padding: 8px 10px 9px;
}
.form-personalize .navbar .nav input.search {
  width: 220px;
}
.form-personalize .navbar .nav input.zip {
  width: 100px;
}
.form-personalize .navbar .nav li.dropdown > .dropdown-toggle {
  line-height: 20px;
  width: 215px;
}
.form-personalize .navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-width: 6px;
  margin-top: 8px;
}
.thumbnail-left .content,
.thumbnail-right .content,
.thumbnail-left .image,
.thumbnail-right .image {
  width: 48%;
}
.thumbnail-left .content {
  float: right;
}
.thumbnail-left .image {
  float: left;
  padding-right: 20px;
}
.thumbnail-right .content {
  float: left;
}
.thumbnail-right .image {
  float: right;
  padding-left: 20px;
}
article .content {
  padding: 20px 20px 40px;
}
.article-left-sidebar .content {
  border-left: 1px solid;
}
.article-left-sidebar .landing-content {
  border: none;
}
.article-left-sidebar .span8 .content {
  margin-left: -4.1%;
  margin-right: -4.35%;
}
.article-left-sidebar .span9 .content {
  margin-left: -4%;
}
.article-left-sidebar .sidebar .nav-menu {
  text-align: right;
}
.article-left-sidebar .sidebar .nav-menu ul > li > a {
  font-size: 16px;
  line-height: 18px;
  padding: 6px 10px;
}
.article-right-sidebar .content {
  border-right: 1px solid;
}
.article-right-sidebar .span8 .content {
  margin-right: -4.5%;
}
.article-right-sidebar .span9 .content {
  margin-right: -4%;
}
.article-list > li {
  font-size: 14px;
}
h2.teaser-title {
  font-size: 20px;
  line-height: 22px;
}
h3.teaser-title {
  font-size: 14px;
  line-height: 18px;
}
.hero-image .caption-title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 8px;
}
.hero-image .caption-text {
  font-size: 18px;
  line-height: 22px;
}
.hero-shopping .image {
  min-height: 360px;
}
.hero-shopping .nav > li > a {
  font-size: 24px;
  line-height: 24px;
}
.hero-shopping .nav > li > a small {
  font-size: 18px;
}
.hero-shopping .hero-inner-title {
  bottom: 0;
  left: 0;
  margin-top: 0;
  position: absolute;
}
.hero-myregence h1 {
  font-size: 28px;
  line-height: 36px;
}
.hero-myregence p,
.hero-myregence .btn {
  font-size: 22px;
  text-align: right;
}
.hero-myregence .image {
  min-height: 400px;
}
.hero-find-doctor .image {
  min-height: 390px;
}
.hero-find-doctor .hero-inner-title {
  bottom: 0;
  left: 0;
  margin-top: 0;
  position: absolute;
}
.hero-health-ins-guide .hero-caption {
  bottom: 20px;
  left: 20px;
  position: absolute;
  right: 20px;
}
.nav-styleguide {
  margin-left: 15px;
  margin-top: 20px;
  width: 140px;
}
.nav-styleguide > li > a {
  font-size: 14px;
  *width: 110px;
}
.nav-styleguide.affix {
  top: 0;
}
.nav-styleguide.affix-bottom {
  bottom: 270px;
  position: absolute;
  top: auto;
}
#header .container {
  width: 940px;
}
#header .span-brand {
  float: left;
  width: 510px;
}
#header .span-controls {
  border-top: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 24em;
}
#header .shopping-toggle-button {
  padding-left: 60px;
  padding-right: 150px;
}
#header .shopping-toggle-button .caret {
  right: 135px;
}
#header .shopping-toggle-button .icon-users {
  left: 10px;
}
#header .search-toggle {
  width: 120px;
}
#header .search-toggle-button {
  padding-left: 10px;
  padding-right: 5px;
}
.form-personalize .navbar .nav {
  padding-top: 40px;
}
.form-personalize .navbar .nav a,
.form-personalize .navbar .nav button,
.form-personalize .navbar .nav input {
  font-size: 20px;
  padding: 8px 7px 9px;
}
.form-personalize .navbar .nav input,
.form-personalize .navbar .nav .dropdown-toggle {
  margin-right: 6px;
}
.form-personalize .navbar .nav button {
  font-size: 18px;
  padding: 9px 7px;
}
.form-personalize .navbar .nav li {
  font-size: 34px;
  line-height: 40px;
}
.form-personalize .navbar .nav li.text {
  margin-right: 10px;
  width: 48px;
}
.form-personalize .navbar .nav li .dropdown-menu {
  width: 259px;
}
.form-personalize .navbar .nav input.search {
  width: 300px;
}
.form-personalize .navbar .nav input.zip {
  width: 125px;
}
.form-personalize .navbar .nav li.dropdown > .dropdown-toggle {
  width: 245px;
}
.article-left-sidebar .span8 .content {
  margin-left: -4.1%;
  margin-right: -3.5%;
}
.article-left-sidebar .span9 .content {
  margin-left: -3.5%;
}
.article-left-sidebar .sidebar .nav-menu > li > a {
  font-size: 20px;
  line-height: 22px;
  padding: 10px 15px;
}
.article-right-sidebar .span8 .content {
  margin-right: -3.4%;
}
.article-right-sidebar .span9 .content {
  margin-right: -3.5%;
}
.hero-unit {
  margin-bottom: 30px;
  padding: 60px;
}
.hero-unit h1 {
  font-size: 72px;
}
.hero-unit p {
  font-size: 28px;
  line-height: 34px;
}
.hero-inverted {
  padding: 40px 0;
}
.hero-image {
  padding: 0;
}
.hero-image .image {
  min-height: 420px;
}
.hero-myregence {
  text-align: right;
}
.hero-myregence h1 {
  font-size: 28px;
}
.hero-myregence .hero-caption {
  left: auto;
  width: 50%;
}
.hero-health-ins-guide .hero-caption {
  bottom: 30px;
  left: 40px;
  right: 40px;
}
.hero-health-ins-guide .hero-inner {
  padding: 40px 40px 30px;
}
.hero-health-ins-guide .search-button {
  font-size: 30px;
  height: 51px;
  line-height: normal;
  padding: 0 14px;
  right: 5px;
  top: 5px;
}
.hero-health-ins-guide .search-input {
  font-size: 30px;
  line-height: 36px;
  padding: 10px 15px 11px;
}
table.contact-info {
  font-size: 20px;
  line-height: 16px;
}
table.contact-info small {
  font-size: 14px;
  line-height: 10px;
}
table.contact-info td.icon-contact-info {
  padding: 20px 8px 20px 10px;
}
table.contact-info td.contact-info-entry {
  padding: 20px 8px 20px 5px;
}
.icon-contact-info .icon-phone,
.icon-contact-info .icon-email,
.icon-contact-info .icon-phone:before,
.icon-contact-info .icon-email:before {
  font-size: 40px;
  height: 50px;
  line-height: 50px;
  width: 50px;
}
#map_sidebar {
  float: left;
  width: 165px;
}
#map_canvas {
  float: right;
  width: 425px;
}
.nav-styleguide {
  margin-left: 25px;
  margin-top: 30px;
  width: 170px;
}
.nav-styleguide > li > a {
  font-size: 16px;
  *width: 160px;
}
body {
  font-size: 16px;
  line-height: 24px;
}
.row {
  margin-left: -30px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  margin-left: 30px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1170px;
}
.span12 {
  width: 1170px;
}
.span11 {
  width: 1070px;
}
.span10 {
  width: 970px;
}
.span9 {
  width: 870px;
}
.span8 {
  width: 770px;
}
.span7 {
  width: 670px;
}
.span6 {
  width: 570px;
}
.span5 {
  width: 470px;
}
.span4 {
  width: 370px;
}
.span3 {
  width: 270px;
}
.span2 {
  width: 170px;
}
.span1 {
  width: 70px;
}
.offset12 {
  margin-left: 1230px;
}
.offset11 {
  margin-left: 1130px;
}
.offset10 {
  margin-left: 1030px;
}
.offset9 {
  margin-left: 930px;
}
.offset8 {
  margin-left: 830px;
}
.offset7 {
  margin-left: 730px;
}
.offset6 {
  margin-left: 630px;
}
.offset5 {
  margin-left: 530px;
}
.offset4 {
  margin-left: 430px;
}
.offset3 {
  margin-left: 330px;
}
.offset2 {
  margin-left: 230px;
}
.offset1 {
  margin-left: 130px;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.564102564102564%;
  *margin-left: 2.5109110747408616%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.row-fluid .span11 {
  width: 91.45299145299145%;
  *width: 91.39979996362975%;
}
.row-fluid .span10 {
  width: 82.90598290598291%;
  *width: 82.8527914166212%;
}
.row-fluid .span9 {
  width: 74.35897435897436%;
  *width: 74.30578286961266%;
}
.row-fluid .span8 {
  width: 65.81196581196582%;
  *width: 65.75877432260411%;
}
.row-fluid .span7 {
  width: 57.26495726495726%;
  *width: 57.21176577559556%;
}
.row-fluid .span6 {
  width: 48.717948717948715%;
  *width: 48.664757228587014%;
}
.row-fluid .span5 {
  width: 40.17094017094017%;
  *width: 40.11774868157847%;
}
.row-fluid .span4 {
  width: 31.623931623931625%;
  *width: 31.570740134569924%;
}
.row-fluid .span3 {
  width: 23.076923076923077%;
  *width: 23.023731587561375%;
}
.row-fluid .span2 {
  width: 14.52991452991453%;
  *width: 14.476723040552828%;
}
.row-fluid .span1 {
  width: 5.982905982905983%;
  *width: 5.929714493544281%;
}
.row-fluid .offset12 {
  margin-left: 105.12820512820512%;
  *margin-left: 105.02182214948171%;
}
.row-fluid .offset12:first-child {
  margin-left: 102.56410256410257%;
  *margin-left: 102.45771958537915%;
}
.row-fluid .offset11 {
  margin-left: 96.58119658119658%;
  *margin-left: 96.47481360247316%;
}
.row-fluid .offset11:first-child {
  margin-left: 94.01709401709402%;
  *margin-left: 93.91071103837061%;
}
.row-fluid .offset10 {
  margin-left: 88.03418803418803%;
  *margin-left: 87.92780505546462%;
}
.row-fluid .offset10:first-child {
  margin-left: 85.47008547008548%;
  *margin-left: 85.36370249136206%;
}
.row-fluid .offset9 {
  margin-left: 79.48717948717949%;
  *margin-left: 79.38079650845607%;
}
.row-fluid .offset9:first-child {
  margin-left: 76.92307692307693%;
  *margin-left: 76.81669394435352%;
}
.row-fluid .offset8 {
  margin-left: 70.94017094017094%;
  *margin-left: 70.83378796144753%;
}
.row-fluid .offset8:first-child {
  margin-left: 68.37606837606839%;
  *margin-left: 68.26968539734497%;
}
.row-fluid .offset7 {
  margin-left: 62.393162393162385%;
  *margin-left: 62.28677941443899%;
}
.row-fluid .offset7:first-child {
  margin-left: 59.82905982905982%;
  *margin-left: 59.72267685033642%;
}
.row-fluid .offset6 {
  margin-left: 53.84615384615384%;
  *margin-left: 53.739770867430444%;
}
.row-fluid .offset6:first-child {
  margin-left: 51.28205128205128%;
  *margin-left: 51.175668303327875%;
}
.row-fluid .offset5 {
  margin-left: 45.299145299145295%;
  *margin-left: 45.1927623204219%;
}
.row-fluid .offset5:first-child {
  margin-left: 42.73504273504273%;
  *margin-left: 42.62865975631933%;
}
.row-fluid .offset4 {
  margin-left: 36.75213675213675%;
  *margin-left: 36.645753773413354%;
}
.row-fluid .offset4:first-child {
  margin-left: 34.18803418803419%;
  *margin-left: 34.081651209310785%;
}
.row-fluid .offset3 {
  margin-left: 28.205128205128204%;
  *margin-left: 28.0987452264048%;
}
.row-fluid .offset3:first-child {
  margin-left: 25.641025641025642%;
  *margin-left: 25.53464266230224%;
}
.row-fluid .offset2 {
  margin-left: 19.65811965811966%;
  *margin-left: 19.551736679396257%;
}
.row-fluid .offset2:first-child {
  margin-left: 17.094017094017094%;
  *margin-left: 16.98763411529369%;
}
.row-fluid .offset1 {
  margin-left: 11.11111111111111%;
  *margin-left: 11.004728132387708%;
}
.row-fluid .offset1:first-child {
  margin-left: 8.547008547008547%;
  *margin-left: 8.440625568285142%;
}
.row-fluid .span2x4 {
  width: 17.85%;
}
input,
textarea,
.uneditable-input {
  margin-left: 0;
}
.controls-row [class*="span"] + [class*="span"] {
  margin-left: 30px;
}
input.span12, textarea.span12, .uneditable-input.span12 {
  width: 1156px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
  width: 1056px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
  width: 956px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
  width: 856px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
  width: 756px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
  width: 656px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
  width: 556px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
  width: 456px;
}
input.span4, textarea.span4, .uneditable-input.span4 {
  width: 356px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
  width: 256px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
  width: 156px;
}
input.span1, textarea.span1, .uneditable-input.span1 {
  width: 56px;
}
.thumbnails {
  margin-left: -30px;
}
.thumbnails > li {
  margin-left: 30px;
}
.row-fluid .thumbnails {
  margin-left: 0;
}
#header .container {
  width: 1170px;
}
#header .span-controls {
  width: 28em;
}
#header .shopping-toggle-button {
  padding-right: 175px;
}
#header .shopping-toggle-button .caret {
  right: 170px;
}
#header .shopping-toggle-button .icon-users {
  left: 20px;
}
#header .search-toggle {
  width: 145px;
}
#header .search-toggle-button {
  padding-left: 22px;
  padding-right: 18px;
}
.form-personalize .navbar .nav {
  padding-top: 55px;
}
.form-personalize .navbar .nav a,
.form-personalize .navbar .nav button,
.form-personalize .navbar .nav input {
  font-size: 22px;
  margin: 2px 0;
  padding: 11px 8px 12px;
}
.form-personalize .navbar .nav input,
.form-personalize .navbar .nav .dropdown-toggle {
  margin-right: 8px;
}
.form-personalize .navbar .nav button {
  font-size: 20px;
  padding: 11px 9px;
}
.form-personalize .navbar .nav li {
  font-size: 46px;
  line-height: 40px;
}
.form-personalize .navbar .nav li.text {
  margin-right: 12px;
  width: 55px;
}
.form-personalize .navbar .nav li .dropdown-menu {
  margin-top: -1px;
  width: 296px;
}
.form-personalize .navbar .nav li .dropdown-menu a {
  padding: 10px 10px 11px;
}
.form-personalize .navbar .nav input.search {
  width: 360px;
}
.form-personalize .navbar .nav input.zip {
  width: 160px;
}
.form-personalize .navbar .nav li.dropdown > .dropdown-toggle {
  width: 280px;
}
.form-personalize .navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top-width: 8px;
  margin-top: 8px;
  right: 20px;
}
.article-list > li {
  font-size: 18px;
}
.article-left-sidebar .sidebar .nav > li > a {
  font-size: 24px;
  line-height: 26px;
  padding: 12px 15px;
}
.article-left-sidebar .span8 .content {
  margin-left: -3.9%;
}
.article-right-sidebar .span8 .content {
  margin-right: -4%;
}
h2.teaser-title {
  font-size: 24px;
  line-height: 26px;
}
h3.teaser-title {
  font-size: 18px;
  line-height: 22px;
}
.hero-unit h1 {
  font-size: 72px;
}
.hero-unit p {
  font-size: 24px;
}
.hero-image .image {
  min-height: 600px;
}
.hero-image .caption-title {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}
.hero-image .caption-text {
  font-size: 20px;
  line-height: 24px;
}
.hero-shopping .image {
  min-height: 375px;
}
.hero-shopping .nav > li > a {
  font-size: 24px;
  line-height: 24px;
}
.hero-myregence .image {
  min-height: 398px;
}
.hero-myregence h1 {
  font-size: 32px;
  line-height: 40px;
}
.hero-myregence p,
.hero-myregence .btn {
  font-size: 28px;
}
.hero-find-doctor .image {
  min-height: 398px;
}
.hero-health-ins-guide .hero-caption {
  bottom: 40px;
  left: 60px;
  right: 60px;
}
.hero-health-ins-guide .hero-inner {
  padding: 60px 60px 40px;
}
table.contact-info {
  font-size: 24px;
  line-height: 20px;
}
table.contact-info small {
  font-size: 15px;
  line-height: 11px;
}
table.contact-info td.icon-contact-info {
  padding: 20px 12px 20px 20px;
}
table.contact-info td.contact-info-entry {
  padding: 20px 12px 20px 5px;
}
.icon-contact-info .icon-phone,
.icon-contact-info .icon-email,
.icon-contact-info .icon-phone:before,
.icon-contact-info .icon-email:before {
  font-size: 50px;
  height: 60px;
  line-height: 60px;
  width: 60px;
}
#map_canvas {
  float: right;
  width: 580px;
}
.nav-styleguide {
  width: 220px;
}
.nav-styleguide > li > a {
  *width: 190px;
}
.lt-ie9 #header .span-controls a:hover .caret,
.lt-ie9 #header .span-controls .active a .caret {
  border-top-color: #FFFFFF;
}
.lt-ie9 .form-personalize .navbar .nav li.dropdown > .dropdown-toggle .caret {
  margin-top: 11px;
}
.lt-ie8 .hero-unit {
  overflow: hidden;
}
.lt-ie8 #header .span-controls a:hover .caret,
.lt-ie8 #header .span-controls .active > a .caret {
  border-color: #FFFFFF transparent transparent;
}
.lt-ie8 .form-personalize .navbar .nav a {
  padding-bottom: 15px;
  padding-top: 8px;
}
.lt-ie8 .form-personalize .navbar .nav button {
  padding-bottom: 9px;
  padding-top: 6px;
}
.lt-ie8 .form-personalize .navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-color: #FFFFFF transparent transparent;
}
