/*------------------------------------*\
    $BREADCRUMBS
\*------------------------------------*/


.breadcrumbs {
  list-style: none;

  > .active {
    color: @gray;
  }
}

.breadcrumbs-horizontal {

  > li {
    display: inline-block;
    .ie7-inline-block();

    span:after {
      color: @grayLight;
      content: "/";
      padding: 0 5px;
    }
  }
  .last {
    a {
      color: @gray;

      &:hover {
        text-decoration: none;
      }
    }
    span:after {
      content: "";
      padding: 0;
    }
  }
}

.breadcrumbs-vertical {

  a {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  li {
    background: url(../images/arrows/07_down.png) no-repeat 50% 100%;
    max-width: auto;
    padding: 0 0 9px;
  }
  .last {
    font-weight: bold;
  }
}

