/*------------------------------------*\
    $BREADCRUMBS
\*------------------------------------*/

.breadcrumbs {
  list-style: none;
  
  a {
    display: block;
  }
  li {
    display: inline-block;
    .ie7-inline-block();
  }
  .active {
    color: @gray;
  }
  .divider {
    padding: 0 5px;
    color: @grayLight;
  }
  .last {
    background-image: none;
  }
}

.breadcrumbs-horizontal {

  li {
    background: url(../images/arrows/05_right.png) no-repeat 100% 50%;
    margin-right: 5px;
    max-width: 50%;
    padding-right: 15px;
  }
  .last {
    margin-top: 0.2em;

    a {
      color: @gray;
    }
  }
}

.breadcrumbs-vertical {

  a {
    text-align: center;
    text-decoration: none;
  }
  li {
    background: url(../images/arrows/07_down.png) no-repeat 50% 100%;
    max-width: auto;
    padding: 0 0 9px;
  }
  .last {
    font-weight: bold;
  }
}

