/*------------------------------------*\
    $PORTLET
\*------------------------------------*/

.portlet-topper-toolbar {
  background-color: #FFF;
  padding: 0;
  right: 0;
  top: 0;

  a {
    display: block;
    float: left;
    padding-right: 4px;

    &:hover {
      background-color: @grayLightest;
      text-decoration: none;
    }
    img {
      vertical-align: inherit;
    }
  }
}

.signed-in {

  .portlet-boundary .portlet {
    border: 2px solid @grayLighter;
  }
  .portlet-dropzone {
    background-color: @grayLightest;
  }
  .portlet-topper {
    background-color: @grayLightest;

    .portlet-title {
      color: #000;
      font-family: @sansFontFamily;
      font-size: 16px;
      line-height: 20px;
      padding: 10px;
    }
    .portlet-title-text {
      font-size: 13px;
    }
  }
  .portlet-content {
    background: #FFF;
  }
  .portlet:hover .portlet-topper {
    background: @grayLighter;
  }
}