//
// Variables - Components
// --------------------------------------------------


// Scaffolding
// -------------------------
@bodyTopColor:                  @accentLighter;


// Forms
// -------------------------
@formBorder:                    @accentLighter;
@inputBorder:                   lighten(@accentLight, 5%);
@inputBorderBottom:             @accentLighter;


// Article
// -------------------------
@contentBorder:                 lighten(@bodyTopColor, 8%);
@articleBackground:             lighten(@accent, 38%);
@articleBackgroundBottom:       lighten(@articleBackground, 8%);
@asideHeadingBackground:        @articleBackground;
@asideHeadingBorder:            darken(@asideHeadingBackground, 4%);
@blockquoteBackground:          @accentLightest;
@blockquoteBorder:              @accentLighter;


// Hero unit
// -------------------------
@heroUnitInvertedTop:           @accentLight;
@heroUnitInvertedBottom:        darken(@heroUnitInvertedTop, 15%);

