<footer class="wp-footer" id="bottom" role="contentinfo" itemprop="WPFooter">
    <div class="row-fluid">
        <div class="container">
            <div class="span6">
                <p>&copy; 2013 Regence <!-- BlueCross BlueShield of Oregon. All rights reserved. --></p>
            </div>
            <nav class="span6">
                <ul class="nav nav-pills pull-right" role="navigation">
                    <li><a href="/legal/online-privacy-and-security/">Privacy</a></li>
                    <li><a href="/legal/terms-of-use/">Terms of Use</a></li>
                    <li><a onclick="oo_feedback.show()" href="javascript:void(0);"><span aria-hidden="true" class="icon-feedback"><b></b><i></i></span> Feedback</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>