<div id="js-hero-dropdowns" class="hero-unit hero-inverted getHeroDropdownStatus">
  <div class="container">
    <div id="js-shopping-dropdown" class="show">
      <div id="audience_dropdown_alert"></div>
      <form class="clearfix form-personalize form-inline" id="form-personalize">
        <div class="row-fluid">
          <div class="span4">
            <div id="personalization_message" class="new">
              <h1>Hello</h1>
              <p>Tell us who you are and<br /> we'll personalize the website.</p>
            </div>
          </div>
          <div class="span8">
            <div class="navbar tooltip-container">
              <ul role="navigation" class="nav">
                <li class="text">I'm</li>
                <li class="dropdown" data-placement="top" data-original-title="Select from the dropdown menu" rel="tooltip">
                  <a href="#" id="personalization_audience_dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    audience <b class="caret"></b></a>
                  <ul aria-labelledby="toggle-personalize" class="dropdown-menu" id="dropdown-personalize">
                    <li id="option"><a>value</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav">
                <li class="text">in</li>
                <li class="input" data-placement="top" data-original-title="Enter your ZIP code" rel="tooltip"><input class="zip" id="zip-personalize" type="text" size="10" placeholder="ZIP code" value="zipcode"></li>
                <li class="button"><button class="btn" id="audience_region_button" type="submit">Go</button></li>
              </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div id="js-search-dropdown" class="hide">
      <form class="clearfix form-personalize form-inline" id="form-search">
        <div class="row-fluid">
          <div class="span5">
            <h1>Search</h1>
            <p>The fastest, easiest way to<br/> find what you need.</p> 
          </div>
          <div class="span7">
            <div class="navbar">
              <ul class="nav">
                <li><input class="search" id="search-query" type="text" size="12" placeholder="Search Regence.com"></li>
                <li><button class="btn" id="search_button" type="submit">Go</button></li>
              </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div> <!-- /container -->
</div>