<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
  <title>$the_title - $company_name</title>
  $theme.include($top_head_include)
  #parse ("$full_templates_path/head.vm")  
</head>

<body class="$css_class">

  $theme.include($body_top_include)

  #if ($is_signed_in)
    #dockbar()
  #end

  <a class="invisible" href="#main-content" id="skip-to-content" style="position:absolute;">#language("skip-to-content")</a>

  #parse ("$full_templates_path/header.vm")
  #parse ("$full_templates_path/header_first.vm")
  
  <div class="container" id="main-content" role="main">
    <div class="page-header">
      <h1>$the_title</h1>
    </div>
  #if ($selectable)
    $theme.include($content_include)
  #else
    $portletDisplay.recycle()
    $portletDisplay.setTitle($the_title)
    $theme.wrapPortlet("portlet.vm", $content_include)
  #end
  </div> <!-- (main) /container -->

  <!--[if lte IE 8]>
  <hr/>
  <div class="row-fluid">
    <div class="alert alert-block fade in">
      <button data-dismiss="alert" class="close" type="button">×</button>
      <h4 class="alert-heading">You're using an old version of Internet Explorer</h4>
      <p>We've designed this site to work best with the latest versions of Internet Explorer, Safari, Firefox, Chrome and Opera. Consider upgrading your browser to the latest version for enhanced functionality and improved security.</p>
    </div>
  </div>
  <![endif]-->

  #if ($has_navigation || $is_signed_in)
    #parse ("$full_templates_path/navigation_primary.vm")
    #parse ("$full_templates_path/navigation_secondary.vm")
  #end

  #parse ("$full_templates_path/footer.vm")

  $theme.include($body_bottom_include)  
  
  <script type="text/javascript" src="$javascript_folder/bootstrap.min.js"></script>
  <script type="text/javascript" src="$javascript_folder/plugins.js"></script>
  <script type="text/javascript" src="$javascript_folder/script.js"></script>

</body>

$theme.include($bottom_include)

</html>


