/*------------------------------------*\
    $ASURIS
\*------------------------------------*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.asuris {
  /*------------------------------------*\
    $SCAFFOLDING
\*------------------------------------*/

  /* Special grid styles
-------------------------------------------------- */

  /*------------------------------------*\
    $TYPE
    $TYPOGRAPHY
\*------------------------------------*/

  /*------------------------------------*\
    $BUTTON GROUPS
\*------------------------------------*/

  /*------------------------------------*\
    $FORMS
\*------------------------------------*/

  /*------------------------------------*\
    $NAVS
\*------------------------------------*/

  /* http://acidmartin.wordpress.com/2011/09/26/css3-treevew-no-javascript/ */

  /*------------------------------------*\
    $ACCORDION
\*------------------------------------*/

  /*------------------------------------*\
    $SHIM
\*------------------------------------*/

  /*------------------------------------*\
    $HEADER
    $FOOTER
\*------------------------------------*/

  /*------------------------------------*\
    $ARTICLE
\*------------------------------------*/

  /*------------------------------------*\
    $HERO UNIT
\*------------------------------------*/

  /*------------------------------------*\
    $PERSONALIZE
\*------------------------------------*/

  /*------------------------------------*\
    $CONTACT
\*------------------------------------*/

  /*------------------------------------*\
    $UTILITY
    $UTILITIES
\*------------------------------------*/

  /*------------------------------------*\
    $STYLE GUIDE
\*------------------------------------*/

}
.asuris .clearfix {
  *zoom: 1;
}
.asuris .clearfix:before,
.asuris .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.asuris .clearfix:after {
  clear: both;
}
.asuris .hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.asuris .input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.asuris body {
  background-color: #e6f0e0;
  background-image: -moz-linear-gradient(top, #d6e6cb, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d6e6cb), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #d6e6cb, #ffffff);
  background-image: -o-linear-gradient(top, #d6e6cb, #ffffff);
  background-image: linear-gradient(to bottom, #d6e6cb, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd6e6cb', endColorstr='#ffffffff', GradientType=0);
}
.asuris .show-grid {
  background-image: linear-gradient(#d6e6cb 2px, transparent 1px), linear-gradient(0deg, #d6e6cb 2px, transparent 1px), linear-gradient(#f8f8f8 2px, transparent 1px), linear-gradient(0deg, #f8f8f8 2px, transparent 1px);
  background-image: -moz-linear-gradient(#d6e6cb 2px, transparent 1px), -moz-linear-gradient(0deg, #d6e6cb 2px, transparent 1px), -moz-linear-gradient(#f8f8f8 2px, transparent 1px), -moz-linear-gradient(0deg, #f8f8f8 2px, transparent 1px);
  background-image: -webkit-linear-gradient(#d6e6cb 2px, transparent 1px), -webkit-linear-gradient(0deg, #d6e6cb 2px, transparent 1px), -webkit-linear-gradient(#f8f8f8 2px, transparent 1px), -webkit-linear-gradient(0deg, #f8f8f8 2px, transparent 1px);
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
  -webkit-background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  /* webkit */

  -moz-background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  /* firefox */

  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
}
.asuris .show-grid [class*="span"] {
  background: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}
.asuris .show-grid:hover [class*="span"] {
  background: #ffffff;
}
.asuris h1 {
  color: #1e9442;
}
.asuris .section-header h1,
.asuris .section-header h2,
.asuris .section-header h3,
.asuris .section-header h4,
.asuris .section-header h5,
.asuris .section-header h6 {
  color: #1e9442;
}
.asuris blockquote {
  background-color: #f1f6ee;
  border-left-color: #d6e6cb;
}
.asuris blockquote.pull-right {
  border-left-color: #d6e6cb;
}
.asuris .btn-link .caret {
  border-top-color: #85b365;
}
.asuris .btn-link.collapsed .caret {
  border-left-color: #85b365;
}
.asuris .form-body {
  border-top-color: #d6e6cb;
}
.asuris textarea,
.asuris input[type="text"],
.asuris input[type="password"],
.asuris input[type="datetime"],
.asuris input[type="datetime-local"],
.asuris input[type="date"],
.asuris input[type="month"],
.asuris input[type="time"],
.asuris input[type="week"],
.asuris input[type="number"],
.asuris input[type="email"],
.asuris input[type="url"],
.asuris input[type="search"],
.asuris input[type="tel"],
.asuris input[type="color"],
.asuris .uneditable-input {
  border-color: 1px solid #bbd5a9;
  border-bottom-color: #d6e6cb;
}
.asuris select {
  border-color: #bbd5a9;
  border-bottom-color: #d6e6cb;
}
.asuris .uneditable-input,
.asuris .uneditable-textarea {
  border-color: #bbd5a9;
}
.asuris .help-overlay {
  color: #85b365;
}
.asuris .nav-primary > li > a {
  background-color: #aecc98;
  border-color: #aecc98;
  -webkit-box-shadow: inset 0 4px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 4px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 4px rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.asuris .nav-primary > li > a:hover {
  background: #9dc284;
}
.asuris .nav-primary > .active > a,
.asuris .nav-primary > .active > a:hover {
  background: #93bb76;
}
.asuris .nav-secondary {
  background: #dce9d2;
  background-color: #e6f0e0;
  background-image: -moz-linear-gradient(top, #dce9d2, #f7faf4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dce9d2), to(#f7faf4));
  background-image: -webkit-linear-gradient(top, #dce9d2, #f7faf4);
  background-image: -o-linear-gradient(top, #dce9d2, #f7faf4);
  background-image: linear-gradient(to bottom, #dce9d2, #f7faf4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdce9d2', endColorstr='#fff7faf4', GradientType=0);
}
.asuris .nav-secondary hr {
  border-top-color: #c1d8b0;
}
.asuris .nav-secondary .nav.unstyled a {
  color: #3c552a;
}
.asuris .nav-secondary .nav.unstyled a:hover {
  color: #608843;
}
.asuris .nav-secondary .nav-pills a {
  color: #608843;
}
.asuris .nav-secondary .title {
  color: #608843;
}
.asuris .nav-treeview ul li:hover {
  background: #f1f6ee;
}
.asuris .accordion-toggle:hover {
  background-color: #f1f6ee;
}
.asuris .input-date-datepicker-control td.ui-datepicker-week-end a {
  background: #f1f6ee;
}
.asuris #header .span-controls {
  border-top-color: #cdedbf;
}
.asuris #header .span-controls a:hover {
  background-color: #c7ebb7;
}
.asuris #header .span-controls .active > a {
  background-color: #c7ebb7;
}
.asuris #header .span-controls .active > a:hover,
.asuris #header .span-controls .active > a:focus {
  background-color: #bbe7a7;
}
.asuris #header .span-controls [class^="icon-"] {
  color: #1e9442;
}
.asuris #header .span-controls > div {
  border-left-color: #cdedbf;
}
.asuris #header .search-toggle {
  border-right-color: #cdedbf;
}
.asuris #header .shopping-toggle-button .caret {
  border-top-color: #1e9442;
}
.asuris #footer {
  background-color: #243319;
}
.asuris .article {
  background-color: #f3f8f0;
  background-image: -moz-linear-gradient(top, #ecf3e7, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ecf3e7), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ecf3e7, #ffffff);
  background-image: -o-linear-gradient(top, #ecf3e7, #ffffff);
  background-image: linear-gradient(to bottom, #ecf3e7, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffecf3e7', endColorstr='#ffffffff', GradientType=0);
}
.asuris .article .sidebar h3 {
  background: #ecf3e7;
  border-bottom-color: #e1ecd9;
  border-top-color: #e1ecd9;
}
.asuris .article-left-sidebar .sidebar .nav > li > a:hover {
  color: #85b365;
}
.asuris .article-left-sidebar .sidebar .nav > .active > a,
.asuris .article-left-sidebar .sidebar .nav > .active > a:hover {
  color: #85b365;
}
.asuris .hero-health-ins-guide .hero-caption-title {
  color: #85b365;
}
.asuris #js-hero-dropdowns {
  background-color: #a1d088;
  background-image: -moz-linear-gradient(top, #aad594, #93c977);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aad594), to(#93c977));
  background-image: -webkit-linear-gradient(top, #aad594, #93c977);
  background-image: -o-linear-gradient(top, #aad594, #93c977);
  background-image: linear-gradient(to bottom, #aad594, #93c977);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaad594', endColorstr='#ff93c977', GradientType=0);
}
.asuris .form-personalize .navbar .nav input,
.asuris .form-personalize .navbar .nav .dropdown-toggle {
  background-color: #558d43;
}
.asuris .form-personalize .navbar .nav input:hover,
.asuris .form-personalize .navbar .nav .dropdown-toggle:hover,
.asuris .form-personalize .navbar .nav input:focus,
.asuris .form-personalize .navbar .nav .dropdown-toggle:focus {
  background-color: #4d7f3c;
}
.asuris .form-personalize .navbar .nav input:active,
.asuris .form-personalize .navbar .nav .dropdown-toggle:active {
  background-color: #447136;
}
.asuris .form-personalize .navbar .nav button {
  border-color: #608843;
  color: #3c552a;
}
.asuris .form-personalize .navbar .nav li .dropdown-menu {
  background-color: #4d7f3c;
}
.asuris .form-personalize .navbar .nav li .dropdown-menu a:hover,
.asuris .form-personalize .navbar .nav li .dropdown-menu a:focus {
  background-color: #558d43;
}
.asuris .res .popover .arrow {
  border-top-color: #1e9442;
}
.asuris .res .popover-content {
  background-color: #1e9442;
}
.asuris .res .highlightMarker:hover {
  background-color: #f1f6ee;
}
.asuris .bg-color-brand {
  background-color: #1e9442 !important;
}
.asuris .bg-color-accent {
  background-color: #85b365 !important;
}
.asuris .bg-color-accentDark {
  background-color: #608843 !important;
}
.asuris .bg-color-accentDarker {
  background-color: #3c552a !important;
}
.asuris .bg-color-accentDarkest {
  background-color: #243319 !important;
}
.asuris .bg-color-accentLight {
  background-color: #aecc98 !important;
}
.asuris .bg-color-accentLighter {
  background-color: #d6e6cb !important;
}
.asuris .bg-color-accentLightest {
  background-color: #f1f6ee !important;
}
.asuris .text-color-brand {
  color: #1e9442 !important;
}
.asuris .text-color-accent {
  color: #85b365 !important;
}
.asuris .text-color-accentDark {
  color: #608843 !important;
}
.asuris .text-color-accentDarker {
  color: #3c552a !important;
}
.asuris .text-color-accentDarkest {
  color: #243319 !important;
}
.asuris .text-color-accentLight {
  color: #aecc98 !important;
}
.asuris .text-color-accentLighter {
  color: #d6e6cb !important;
}
.asuris .glyph-sample {
  background-color: #f1f6ee;
  box-shadow: inset 0 0 0 1px #ffffff, 0 0 0 1px #d6e6cb;
}
.asuris .glyph-sample input {
  background-color: #f1f6ee;
}
.asuris .nav-styleguide > li > a:hover {
  background-color: #f1f6ee;
}
@media (min-width: 768px) {
  .asuris {
    /*------------------------------------*\
      $768 Minimum
  \*------------------------------------*/
  
  }
  .asuris .article-left-sidebar .content {
    border-left-color: #ecf3e7;
  }
  .asuris .article-right-sidebar .content {
    border-right-color: #ecf3e7;
  }
}
