/*------------------------------------*\
    $REGENCE
\*------------------------------------*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.regence {
  /*------------------------------------*\
    $SCAFFOLDING
\*------------------------------------*/

  /* Special grid styles
-------------------------------------------------- */

  /*------------------------------------*\
    $TYPE
    $TYPOGRAPHY
\*------------------------------------*/

  /*------------------------------------*\
    $BUTTON GROUPS
\*------------------------------------*/

  /*------------------------------------*\
    $FORMS
\*------------------------------------*/

  /*------------------------------------*\
    $NAVS
\*------------------------------------*/

  /* http://acidmartin.wordpress.com/2011/09/26/css3-treevew-no-javascript/ */

  /*------------------------------------*\
    $ACCORDION
\*------------------------------------*/

  /*------------------------------------*\
    $SHIM
\*------------------------------------*/

  /*------------------------------------*\
    $HEADER
    $FOOTER
\*------------------------------------*/

  /*------------------------------------*\
    $ARTICLE
\*------------------------------------*/

  /*------------------------------------*\
    $HERO UNIT
\*------------------------------------*/

  /*------------------------------------*\
    $PERSONALIZE
\*------------------------------------*/

  /*------------------------------------*\
    $CONTACT
\*------------------------------------*/

  /*------------------------------------*\
    $UTILITY
    $UTILITIES
\*------------------------------------*/

  /*------------------------------------*\
    $STYLE GUIDE
\*------------------------------------*/

}
.regence .clearfix {
  *zoom: 1;
}
.regence .clearfix:before,
.regence .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.regence .clearfix:after {
  clear: both;
}
.regence .hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.regence .input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.regence body {
  background-color: #ddeaf2;
  background-image: -moz-linear-gradient(top, #c6dde9, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c6dde9), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #c6dde9, #ffffff);
  background-image: -o-linear-gradient(top, #c6dde9, #ffffff);
  background-image: linear-gradient(to bottom, #c6dde9, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc6dde9', endColorstr='#ffffffff', GradientType=0);
}
.regence .show-grid {
  background-image: linear-gradient(#c6dde9 2px, transparent 1px), linear-gradient(0deg, #c6dde9 2px, transparent 1px), linear-gradient(#f8f8f8 2px, transparent 1px), linear-gradient(0deg, #f8f8f8 2px, transparent 1px);
  background-image: -moz-linear-gradient(#c6dde9 2px, transparent 1px), -moz-linear-gradient(0deg, #c6dde9 2px, transparent 1px), -moz-linear-gradient(#f8f8f8 2px, transparent 1px), -moz-linear-gradient(0deg, #f8f8f8 2px, transparent 1px);
  background-image: -webkit-linear-gradient(#c6dde9 2px, transparent 1px), -webkit-linear-gradient(0deg, #c6dde9 2px, transparent 1px), -webkit-linear-gradient(#f8f8f8 2px, transparent 1px), -webkit-linear-gradient(0deg, #f8f8f8 2px, transparent 1px);
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
  -webkit-background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  /* webkit */

  -moz-background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  /* firefox */

  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
}
.regence .show-grid [class*="span"] {
  background: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}
.regence .show-grid:hover [class*="span"] {
  background: #ffffff;
}
.regence h1 {
  color: #0881c2;
}
.regence .section-header h1,
.regence .section-header h2,
.regence .section-header h3,
.regence .section-header h4,
.regence .section-header h5,
.regence .section-header h6 {
  color: #0881c2;
}
.regence blockquote {
  background-color: #eff5f8;
  border-left-color: #c6dde9;
}
.regence blockquote.pull-right {
  border-left-color: #c6dde9;
}
.regence .btn-link .caret {
  border-top-color: #599abd;
}
.regence .btn-link.collapsed .caret {
  border-left-color: #599abd;
}
.regence .form-body {
  border-top-color: #c6dde9;
}
.regence textarea,
.regence input[type="text"],
.regence input[type="password"],
.regence input[type="datetime"],
.regence input[type="datetime-local"],
.regence input[type="date"],
.regence input[type="month"],
.regence input[type="time"],
.regence input[type="week"],
.regence input[type="number"],
.regence input[type="email"],
.regence input[type="url"],
.regence input[type="search"],
.regence input[type="tel"],
.regence input[type="color"],
.regence .uneditable-input {
  border-color: 1px solid #a2c6da;
  border-bottom-color: #c6dde9;
}
.regence select {
  border-color: #a2c6da;
  border-bottom-color: #c6dde9;
}
.regence .uneditable-input,
.regence .uneditable-textarea {
  border-color: #a2c6da;
}
.regence .help-overlay {
  color: #599abd;
}
.regence .nav-primary > li > a {
  background-color: #90bbd3;
  border-color: #90bbd3;
  -webkit-box-shadow: inset 0 4px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 4px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 4px rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.regence .nav-primary > li > a:hover {
  background: #7aaeca;
}
.regence .nav-primary > .active > a,
.regence .nav-primary > .active > a:hover {
  background: #6ba5c4;
}
.regence .nav-secondary {
  background: #dde9ef;
  background-color: #ebf2f5;
  background-image: -moz-linear-gradient(top, #dde9ef, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dde9ef), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #dde9ef, #ffffff);
  background-image: -o-linear-gradient(top, #dde9ef, #ffffff);
  background-image: linear-gradient(to bottom, #dde9ef, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdde9ef', endColorstr='#ffffffff', GradientType=0);
}
.regence .nav-secondary hr {
  border-top-color: #bad3df;
}
.regence .nav-secondary .nav.unstyled a {
  color: #2b556c;
}
.regence .nav-secondary .nav.unstyled a:hover {
  color: #397290;
}
.regence .nav-secondary .nav-pills a {
  color: #488fb5;
}
.regence .nav-secondary .title {
  color: #488fb5;
}
.regence .nav-treeview ul li:hover {
  background: #eff5f8;
}
.regence .accordion-toggle:hover {
  background-color: #eff5f8;
}
.regence .input-date-datepicker-control td.ui-datepicker-week-end a {
  background: #eff5f8;
}
.regence #header .span-controls {
  border-top-color: #d0e8f4;
}
.regence #header .span-controls a:hover {
  background-color: #afe1f7;
}
.regence #header .span-controls .active > a {
  background-color: #afe1f7;
}
.regence #header .span-controls .active > a:hover,
.regence #header .span-controls .active > a:focus {
  background-color: #9cdaf5;
}
.regence #header .span-controls [class^="icon-"] {
  color: #0881c2;
}
.regence #header .span-controls > div {
  border-left-color: #d0e8f4;
}
.regence #header .search-toggle {
  border-right-color: #d0e8f4;
}
.regence #header .shopping-toggle-button .caret {
  border-top-color: #0881c2;
}
.regence #footer {
  background-color: #599abd url("../img/regence-footer-bg.png");
}
.regence .article {
  background-color: #eff5f8;
  background-image: -moz-linear-gradient(top, #e4eef4, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e4eef4), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #e4eef4, #ffffff);
  background-image: -o-linear-gradient(top, #e4eef4, #ffffff);
  background-image: linear-gradient(to bottom, #e4eef4, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe4eef4', endColorstr='#ffffffff', GradientType=0);
}
.regence .article .sidebar h3 {
  background: #e4eef4;
  border-bottom-color: #d5e5ee;
  border-top-color: #d5e5ee;
}
.regence .article-left-sidebar .sidebar .nav > li > a:hover {
  color: #599abd;
}
.regence .article-left-sidebar .sidebar .nav > .active > a,
.regence .article-left-sidebar .sidebar .nav > .active > a:hover {
  color: #599abd;
}
.regence .hero-health-ins-guide .hero-caption-title {
  color: #599abd;
}
.regence #js-hero-dropdowns {
  background-color: #82c6e4;
  background-image: -moz-linear-gradient(top, #8fcce7, #6dbde0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8fcce7), to(#6dbde0));
  background-image: -webkit-linear-gradient(top, #8fcce7, #6dbde0);
  background-image: -o-linear-gradient(top, #8fcce7, #6dbde0);
  background-image: linear-gradient(to bottom, #8fcce7, #6dbde0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8fcce7', endColorstr='#ff6dbde0', GradientType=0);
}
.regence .form-personalize .navbar .nav input,
.regence .form-personalize .navbar .nav .dropdown-toggle {
  background-color: #4d9ec0;
}
.regence .form-personalize .navbar .nav input:hover,
.regence .form-personalize .navbar .nav .dropdown-toggle:hover,
.regence .form-personalize .navbar .nav input:focus,
.regence .form-personalize .navbar .nav .dropdown-toggle:focus {
  background-color: #4195b8;
}
.regence .form-personalize .navbar .nav input:active,
.regence .form-personalize .navbar .nav .dropdown-toggle:active {
  background-color: #3c88a9;
}
.regence .form-personalize .navbar .nav button {
  border-color: #397290;
  color: #244759;
}
.regence .form-personalize .navbar .nav li .dropdown-menu {
  background-color: #4195b8;
}
.regence .form-personalize .navbar .nav li .dropdown-menu a:hover,
.regence .form-personalize .navbar .nav li .dropdown-menu a:focus {
  background-color: #4d9ec0;
}
.regence .res .popover .arrow {
  border-top-color: #0881c2;
}
.regence .res .popover-content {
  background-color: #0881c2;
}
.regence .res .highlightMarker:hover {
  background-color: #eff5f8;
}
.regence .bg-color-brand {
  background-color: #0881c2 !important;
}
.regence .bg-color-accent {
  background-color: #599abd !important;
}
.regence .bg-color-accentDark {
  background-color: #397290 !important;
}
.regence .bg-color-accentDarker {
  background-color: #244759 !important;
}
.regence .bg-color-accentDarkest {
  background-color: #152a35 !important;
}
.regence .bg-color-accentLight {
  background-color: #90bbd3 !important;
}
.regence .bg-color-accentLighter {
  background-color: #c6dde9 !important;
}
.regence .bg-color-accentLightest {
  background-color: #eff5f8 !important;
}
.regence .text-color-brand {
  color: #0881c2 !important;
}
.regence .text-color-accent {
  color: #599abd !important;
}
.regence .text-color-accentDark {
  color: #397290 !important;
}
.regence .text-color-accentDarker {
  color: #244759 !important;
}
.regence .text-color-accentDarkest {
  color: #152a35 !important;
}
.regence .text-color-accentLight {
  color: #90bbd3 !important;
}
.regence .text-color-accentLighter {
  color: #c6dde9 !important;
}
.regence .glyph-sample {
  background-color: #eff5f8;
  box-shadow: inset 0 0 0 1px #ffffff, 0 0 0 1px #c6dde9;
}
.regence .glyph-sample input {
  background-color: #eff5f8;
}
.regence .nav-styleguide > li > a:hover {
  background-color: #eff5f8;
}
@media (min-width: 768px) {
  .regence {
    /*------------------------------------*\
      $768 Minimum
  \*------------------------------------*/
  
  }
  .regence .article-left-sidebar .content {
    border-left-color: #e4eef4;
  }
  .regence .article-right-sidebar .content {
    border-right-color: #e4eef4;
  }
}
