/*------------------------------------*\
    $PORTLET
\*------------------------------------*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* ---------- Column widths ---------- */
.portlet-column-content.empty {
  padding: 50px;
}
#main-content.dragging .portlet-column {
  border: 3px double #828F95;
  height: 100px;
  min-height: 100px;
}
.ie6 div.portlet-layout,
.ie7 div.portlet-layout {
  height: 1%;
}
.ie6 div.portlet-column,
.ie7 div.portlet-column {
  float: left;
  overflow: hidden;
  width: 100%;
}
.ie6 div.aui-column-last,
.ie7 div.aui-column-last {
  margin-right: -1px;
}
.ie6 .portlet-column-content,
.ie7 .portlet-column-content {
  zoom: 1;
}
/* ---------- Signed In ---------- */
.signed-in .portlet-boundary .portlet {
  border: 2px solid #e9e9e9;
}
.signed-in .portlet-dropzone {
  background-color: #f8f8f8;
}
.signed-in .portlet:hover .portlet-topper {
  background: #e9e9e9;
}
/* ---------- Portlet wrapper and icons ---------- */
.freeform .portlet {
  margin-bottom: 0;
}
body.portlet {
  border: none;
}
.portlet-topper {
  position: relative;
}
.portlet-title {
  display: block;
  font-size: 1em;
  margin: 0;
}
.portlet-title img {
  vertical-align: middle;
}
.portlet-title-text {
  cursor: pointer;
}
.panel-page-content .portlet-title-text,
.panel-page-body .portlet-title-text {
  cursor: auto;
}
.portlet-topper-toolbar {
  float: right;
  text-align: right;
}
.portlet-topper-toolbar .nobr {
  display: block;
  float: left;
  padding: 1px;
}
.portlet-content,
.portlet-minimized .portlet-content-container {
  padding: 12px 10px 10px;
}
.portlet-minimized .portlet-content {
  padding: 0;
}
.portlet-icon-back {
  background: url(../images/arrows/01_left.png) no-repeat 0 50%;
  font-weight: bold;
  padding: 5px 5px 5px 18px;
}
.portlet-nested-portlets .portlet-boundary {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
}
/* ---------- Borderless portlet ---------- */
.portlet-borderless-container {
  min-height: 2.5em;
  position: relative;
}
.portlet-borderless-bar {
  background: #333;
  color: #FFF;
  font-size: 10px;
  opacity: 0.3;
  padding: 2px 5px 1px;
  position: absolute;
  right: 0;
  text-shadow: -1px -1px #000000;
  top: 0;
  z-index: 200;
}
.portlet-borderless-bar a {
  background: url() no-repeat 0 50%;
  color: #3AF;
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  text-indent: -9999px;
  vertical-align: top;
  width: 16px;
}
.portlet-borderless-bar .portlet-actions {
  display: none;
  float: left;
  margin-right: 20px;
}
.portlet-borderless-bar .portlet-title-default,
.portlet-borderless-bar .portlet-actions {
  min-height: 20px;
  vertical-align: top;
}
.portlet-borderless-bar .portlet-action-separator {
  display: none;
}
.portlet-borderless-bar .portlet-back a {
  height: auto;
  text-indent: 0;
  width: auto;
}
.portlet-borderless-bar .portlet-close a {
  background-image: url(../images/portlet/close_borderless.png);
}
.portlet-borderless-bar .portlet-options li.lfr-trigger strong a {
  background-image: url(../images/portlet/options_borderless.png);
}
.portlet-borderless-container:hover .portlet-borderless-bar {
  opacity: 1;
}
.portlet-borderless-container:hover .portlet-borderless-bar .portlet-actions {
  display: inline;
}
.portlet-title-default {
  display: inline-block;
  float: right;
  font-weight: bold;
  text-transform: uppercase;
}
.portlet-draggable .portlet-topper {
  cursor: move;
}
.portlet-draggable .portlet-title-default {
  background: url(../images/portlet/draggable_borderless.png) no-repeat 0 50%;
  cursor: move;
  padding-left: 20px;
}
/* ---------- Panel Page ---------- */
.lfr-panel-page {
  width: 100%;
}
.lfr-panel-page .portlet-title {
  font-size: 13px;
}
.lfr-panel-page .lfr-add-content h2 span {
  background-color: #D3DADD;
}
/* ---------- Standard styles defined in the JSR 168 ---------- */
/* ---------- Fonts ---------- */
/* ---------- Font attributes for the 'normal' fragment font ---------- */
/* ---------- Font attributes similar to the .portlet-font but the color is lighter ---------- */
/* ---------- Messages ---------- */
.portlet-msg {
  background: #eeeeee none no-repeat 6px 50%;
  border: 1px solid #555;
  color: #34404F;
  display: block;
  font-weight: bold;
  margin: 2px auto 14px;
  padding: 6px 6px 6px 30px;
  text-align: left;
}
/* ---------- Status of the current operation ---------- */
/* ---------- Help messages, general additional information, etc. ---------- */
